<h1>Diaper Change</h1>

<div class='center'>
  <% @diaper_changes.each do |d| %>
    <fieldset>
      <%= d.change_time.strftime("%H:%M %p") %>
      <br>
      <%= d.diaper_type %>
    </fieldset>
    <br><br>
  <% end %>

  <%= render partial: 'form' %>

  <br><br>
  <%= link_to 'Back', user_index_path %>
</div>
